<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Alunos')}"></head>

    <main class="container">
        <h2>Cadastrar Aluno</h2>

        <div class="card">
            <form th:action="${'/students'}" method="post" th:object="${students}">
                <div class="card-content">
                    <div class="input-field">
                        <input th:field="*{nome}" type="text" th:class="${(#fields.hasErrors('nome')) ? 'invalid' : ''}">
                        <label for="nome">Nome</label>
                        <span th:errors="*{nome}" class="helper-text red-text"></span>
                    </div>
                    <div class="input-field">
                        <input th:field="*{email}" type="email" th:class="${(#fields.hasErrors('nome')) ? 'invalid' : ''}">
                        <label for="email">E-mail</label>
                        <span th:errors="*{email}" class="helper-text red-text"></span>
                    </div>
                    <div class="input-field">
                        <input th:field="*{dataNascimento}" type="date" th:class="${(#fields.hasErrors('nome')) ? 'invalid' : ''}">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <span th:errors="*{dataNascimento}" class="helper-text red-text"></span>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a href="/students">CANCELAR</a>
                    <button class="btn waves-effect waves-light" type="submit" name="action">SALVAR
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>